body .topnav {
  background-color: skyblue;
}
body .topnav .nav-link {
  padding-top: 5px;
  color: white;
}
body .topnav .nav-link:hover{
  color: royalblue;
}
body .topnav .nav .na-active {
  background-color: #f6f5ef;
  color: royalblue;
}

body .review {
  background-color: #f6f5ef;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .review .usersreview {
  /* background-color: blue; */
  height: 80%;
  width: 80%;
  position: absolute;
}