<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <title>회원가입</title>

  <link rel="stylesheet" href="../static/css/signup.css">
  <script defer src="../static/js/login.js"></script>

</head>
<body>

  <!-- LOG IN -->
  <section class="signin">
    <h1>회원가입</h1>
    <div class="signin__card">
      <h2><strong>Welcome!</strong> 참치세탁소에 오신 것을 환영합니다.</h2>
      <form>
        <input type="text" placeholder="아이디를 입력하세요." />
        <input type="password" placeholder="비밀번호를 입력하세요." />
        <input type="password" placeholder="비밀번호를 다시 입력하세요." />
        <input type="tel" placeholder="휴대폰번호를 입력하세요." />
        <input type="text" placeholder="주소를 입력하세요. (상세 입력)" />
        <input type="submit" value="고객님 가입완료" />
        <input type="submit-admin" value="사장님 가입완료" />
        <p>
          * 관리자 로그인은 기능이 다르니,<br />
          세탁소 영업을 하는 사장님께서만 "사장님 가입완료"를 클릭하세요!
        </p>
      </form>
      <div class="actions">
        <a href="javascript:void(0)">가입 취소</a>
      </div>
    </div>
  </section>

</body>
</html>