<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <title>회원가입</title>

  <link rel="stylesheet" href="../static/css/signup.css">
  <script defer src="../static/js/login.js"></script>

</head>
<body>

  <!-- LOG IN -->
  <section class="signin">
    <h1>회원가입</h1>
    <div class="signin__card">
      <h2><strong>Welcome!</strong> 참치세탁소에 오신 것을 환영합니다.</h2>
      <form>
        <input type="text" placeholder="아이디를 입력하세요." />
        <input type="password" placeholder="비밀번호를 입력하세요." />
        <input type="password" placeholder="비밀번호를 다시 입력하세요." />
        <input type="tel" placeholder="휴대폰번호를 입력하세요." />
        <input type="text" placeholder="주소를 입력하세요. (상세 입력)" />
        <input type="submit" onclick="createUser()" value="고객님 가입완료" />
        <input type="submit-admin" value="사장님 가입완료" />
        <p>
          * 관리자 로그인은 기능이 다르니,<br />
          세탁소 영업을 하는 사장님께서만 "사장님 가입완료"를 클릭하세요!
        </p>
      </form>
      <div class="actions">
        <a onclick="history.back()">가입 취소</a>
      </div>
    </div>
  </section>

  <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>
    <script>
      function createUser() {
        const nickname = $("#inputNickname").val();
        const password1 = $("#inputPassword1").val();
        const password2 = $("#inputPassword2").val();
        const phone = $("#inputPhone").val();
        const address = $("#inputAddress").val();
        const status = 0;
        const point = 1000000;

        $.ajax({
          type: "POST",
          url: "/signup",
          data: {
            nickname: nickname,
            password: password1,
            confirmPassword: password2,
            phone: phone,
            address: address,
            status: 0
          },
          success: function (response) {
            customAlert("회원가입을 축하드립니다!", function () {
              window.location.replace("/");
            });
          },
          error: function (error) {
            customAlert(error.responseJSON.errorMessage);
          },
        });
      }
      // function customAlert(text, confirmCallback) {
      //   $("#alertText").text(text);
      //   $("#alertModal").modal("show");
      //   if (confirmCallback) {
      //     $("#alertModal .btn-confirm").click(confirmCallback);
      //   }
      // }
    </script>

</body>
</html>