<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <title>회원가입</title>

  <link rel="stylesheet" href="../static/css/usersignup.css">

</head>
<body>

  <!-- LOG IN -->
  <section class="signin">
    <h1>회원가입</h1>
    <div class="signin__card">
      <h2><strong>Welcome!</strong> 참치세탁소에 오신 것을 환영합니다.</h2>
      <form>
        <input type="text" placeholder="아이디를 입력하세요." />
        <input type="password" placeholder="비밀번호를 입력하세요." />
        <input type="password" placeholder="비밀번호를 다시 입력하세요." />
        <input type="tel" placeholder="휴대폰번호를 입력하세요." />
        <input type="text" placeholder="주소를 입력하세요. (상세 입력)" />
        <input type="submit" value="가입완료" />
        <p>
          * OPEN EVENT!!! * <br />
          가입 시 이용자 전원에게 1,000,000포인트 제공
        </p>
      </form>
      <div class="actions">
        <a href="javascript:void(0)">가입 취소</a>
      </div>
    </div>
  </section>

</body>
</html>