<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>참치세탁소 - 리뷰페이지</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/usersreview.css">

</head>
<body>
  <section class="topnav">
    <div>
      참치세탁소
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#">세탁물 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">세탁 요청하기</a>
      </li>
      <li class="nav-item">
        <a class="na-active nav-link active" aria-current="page" href="#">리뷰페이지</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">마이페이지</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">로그아웃</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>
  </section>

 

  <section class="review">
    <div class="usersreview">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">마구로 사장님</div>
            <div>(긴급) 옷좀 빨아주세요!</div> 
            <div>업데이트일 : 2019-08-25 12:36:09</div>
            <div>신청일 : 2019-08-25 12:36:09</div>
          </div>
          <a href="#"><span class="badge bg-danger">리뷰쓰기</span></a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">마구로 사장님</div>
            <div>(긴급) 앞치마 세탁좀요!</div> 
            <div>업데이트일 : 2019-08-25 12:36:09</div>
            <div>신청일 : 2019-08-25 12:36:09</div>
          </div>
          <a href="#"><span class="badge bg-danger">리뷰쓰기</span></a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">마구로 사장님</div>
            <div>(중요) 정장 세탁해주세요!!</div> 
            <div>업데이트일 : 2019-08-25 12:36:09</div>
            <div>신청일 : 2019-08-25 12:36:09</div>
          </div>
          <a href="#"><span class="badge bg-danger">리뷰쓰기</span></a>
        </li>
      </ol>
    </div>
  </section>

</body>
</html>