<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>참치세탁소 - 고객용</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/css/userslaundry.css">
  <script>
    $(document).ready(function(){
      getMyLaundry()
      getMyInfo()
    })
    function getMyLaundry(){
      $('#laundryinfo').empty()
      $.ajax({
        type:"GET",
        url:"/mylaundry/"+userId,
        data:{},
        success:function(response){
          rows = response.data
          for(let i = 0; i<rows.length;i++) {
                        let laundryId = rows[i]['id']
                        let content = rows[i]['content']
                        let updateDate = rows[i]['updatedAt']
                        let createDate = rows[i]['createdAt']
                        let status = rows[i]['status']
                        let temp_html = `<li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div>${content}</div> 
          <div>업데이트일 : ${updateDate}</div>
          <div>신청일 : ${createDate}</div>
        </div>
        <span class="badge bg-primary rounded-pill">${status}</span>
      </li>`
                        $('#laundryinfo').append(temp_html)
                    }
        }
      })
    }
    // function getMyInfo(){
    //   $('#myInfo').empty()
    //   let userId = 1
    //   $.ajax({
    //     type:"GET",
    //     url:"/"
    //   })
    // }
  </script>
</head>
<body>
  <section class="topnav">
    <div>
      참치세탁소
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item">
        <a class="na-active nav-link active" aria-current="page" href="#">세탁물 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">나의 세탁</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">리뷰페이지</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">마이페이지</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">로그아웃</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>
  </section>

  <section class="myinfo">
    <div class="infobox">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          사용자 정보
        </div>
        <ul class="list-group list-group-flush" id = "myInfo">
          <li class="list-group-item">닉네임 : 마구로 사장님</li>
          <li class="list-group-item">포인트 : 560,000</li>
          <li class="list-group-item">업소명 : 원데이 참치 세탁소</li>
          <li class="list-group-item">휴대폰 : 010-1234-5678</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="laundryinfo">
    <ol class="list-group list-group-numbered" id="laundryinfo">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">마구로 사장님</div>
          <div>(긴급) 옷좀 빨아주세요!</div> 
          <div>업데이트일 : 2019-08-25 12:36:09</div>
          <div>신청일 : 2019-08-25 12:36:09</div>
        </div>
        <span class="badge bg-primary rounded-pill">배송중</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">마구로 사장님</div>
          <div>(긴급) 앞치마 세탁좀요!</div> 
          <div>업데이트일 : 2019-08-25 12:36:09</div>
          <div>신청일 : 2019-08-25 12:36:09</div>
        </div>
        <span class="badge bg-primary rounded-pill">배송 완료</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">마구로 사장님</div>
          <div>(중요) 정장 세탁해주세요!!</div> 
          <div>업데이트일 : 2019-08-25 12:36:09</div>
          <div>신청일 : 2019-08-25 12:36:09</div>
        </div>
        <span class="badge bg-primary rounded-pill">대기중</span>
      </li>
    </ol>
  </section>


</body>
</html>